<div class="modal fade bd-example-modal-lg" role="dialog" tabindex="-1"  [class]="modalConfirmState ? 'show' : 'fade'" style="display: block;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-header"><i class="fa fa-key primary-light-blue-color" style="font-size: 35px;margin-right: 10px;"></i>
                <h4 class="modal-title">Forgot Password</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"  (click) ="onClickNo()" >×</span></button></div>
              
                <div class="modal-body">
                <p><span style="font-size: 30px;font-family: TimesNewRoman;">I</span>f an email user forgets their password, they can easily reset it by&nbsp;clicking the "send" link on the login page. They will then be prompted to enter their email
                    address, and aconfirmation email will be sent to that address. This email will contain a link to a page where the user can enter a new password. It's important to remember to choose a strong, unique password that can't be easily
                    guessed or hacked.</p>
                <div class="table-responsive table table-borderless style-text-timenewroman">
                    <table class="table table table-bordered table-hover" id="demande-stage-detaille-stagiaire-modale-table">
                        <thead>
                            <tr style="background-color: #f7f6f6;"></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Email :</td>
                                <td>
                                    <input type="email" class="form-control input-design"
                                       placeholder="Enter email"
                                      [(ngModel)]="stremail" #email="ngModel"
                                       pattern="^[a-z0-9]+@+[a-z0-9]+\.+[a-z]{3}$"  required>
                                </td>
                            </tr>
                            <tr *ngIf="email.invalid && email.touched">
                                <div class="d-flex flex-row justify-content-center margin-bottom-ten-px"> 
                                 <div  style="color:#DC3545;" *ngIf="email.errors?.['required']"> Email is required  </div> 
                                 <div style="color:#DC3545;" *ngIf="email.errors?.['pattern']"> email pattern Key [a-z0-9] + @ +  [a-z0-9] + 3 x char </div> 
                              </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="email.invalid"   (click) ="onClickSend()"  class="btn btn-primary style-text-timenewroman primary-light-blue-color-backgroud" type="button">Send</button>
                <button   (click) ="onClickNo()"  class="btn btn-light" type="button style-text-timenewroman" data-dismiss="modal" >no</button>
            </div>  


            
       </div>
    </div>
</div>