<div class="sidebar-main-active right-column-fixed">
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <div class="iq-sidebar">
            <div id="sidebar-scrollbar">
               <nav class="iq-sidebar-menu">
                  <ul id="iq-sidebar-toggle" class="iq-menu">
                     <li>
                        <a [routerLink]="['/admin/stat']" routerLinkActive="nav-link-active" class="iq-waves-effect"><i class="las la-chart-line"></i><span>statistique Analysis</span></a>
                     </li>
                     <li>
                        <a routerLink="/" routerLinkActive="nav-link-active" class="iq-waves-effect"><i class="las la-users"></i><span>Users</span></a>
                     </li>
                     <li>
                        <a routerLink="/" routerLinkActive="nav-link-active" class="iq-waves-effect"><i class="las la-image"></i><span>Profile Image</span></a>
                     </li>
                     <li>
                        <a routerLink="/" routerLinkActive="nav-link-active" class="iq-waves-effect"><i class="las la-video"></i><span>Profile Video</span></a>
                     </li>
                     <li>
                        <a  routerLink="/" routerLinkActive="nav-link-active" class="iq-waves-effect"><i class="las la-list"></i><span>Product</span></a>
                     </li>
                     <li>
                        <a  routerLink="/" routerLinkActive="nav-link-active" class="iq-waves-effect"><i class="las la-user-friends"></i><span>Stock</span></a>
                     </li>
                     <li>
                        <a class="iq-waves-effect collapsed"  data-toggle="collapse" aria-expanded="false"><i class="ri-mail-line"></i><span>Stock</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="stock" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                           <li><a href="app/index.html"><i class="ri-inbox-line"></i>Product</a></li>
                           <li><a href="app/email-compose.html"><i class="ri-edit-line"></i>Offer</a></li>
                           <li><a href="app/email-compose.html"><i class="ri-edit-line"></i>Supplier</a></li>
                           <li><a href="app/email-compose.html"><i class="ri-edit-line"></i>Orders</a></li>
                           <li><a href="app/email-compose.html"><i class="ri-edit-line"></i>Address</a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="#ui-elements" class="iq-waves-effect collapsed"  data-toggle="collapse" aria-expanded="false"><i class="ri-focus-2-line"></i><span>Analysis Service</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="ui-elements" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                              <li><a [routerLink]="['/admin/sample']"><i class="ri-text"></i>Sample List</a></li>                           
                              <li><a [routerLink]="['/admin/testList']"><i class="ri-font-color"></i>Test List</a></li>
                              <li><a [routerLink]="['/admin/testresultList']"><i class="ri-building-3-line"></i>TestResult list</a></li>
                              <li><a [routerLink]="['/admin/pdf']"><i class="ri-menu-2-line"></i>export pdf</a></li>                   
                        </ul>
                     </li>
      
                  </ul>
               </nav>
               <div class="p-3"></div>
            </div>
         </div>
      </div>
</div>
       
   