<div class="main-body">
  <form class="px-6 py-4" #f="ngForm">
    <div class="flex flex-row h-screen">

      <div class="bg-white p-6 rounded-md shadow-md w-1/2">
        <div class="flex flex-auto gap-2">
          <h2 class="text-lg font-semibold mb-4" *ngIf="update_or_add; else elseLabel">Update Training</h2>
          <ng-template #elseLabel>
            <h2 class="text-lg font-semibold mb-4">New Training</h2>
          </ng-template>
          <div>
            <i class="fa fa-info-circle hover:bg-gray-300 rounded-full cursor-pointer" style="font-size: 20px"
              aria-hidden="true" pTooltip="get suggestions" (click)="openModal('Most wanted trainings')"></i>
          </div>
          <div class="ml-auto text-xl">
            <button class="py-2 px-4 rounded inline-flex items-center " routerLink="/admin/training">
              <i class="fa fa-arrow-left"></i>
            </button>

          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <label for="start_date" class="label ">Start Date</label>
            <input type="date" id="start_date" class="attriute" [ngClass]="{ 'text-rose-600': errors[0] }"
              name="start_date" #price="ngModel" [(ngModel)]="mytraining.start_date" (change)="validation()" required />
          </div>
          <div>
            <label for="end_date" class="label">End Date</label>
            <input type="date" id="end_date" name="end_date" [ngClass]="{ 'text-rose-600': errors[0] }"
              class="attribute" name="e,d_date" #price="ngModel" [(ngModel)]="mytraining.end_date"
              (change)="validation()" required />
          </div>

          <div>
            <label for="location" class="label">Location</label>
            <input type="text" id="location" name="location" class="attribute" name="location" #location="ngModel"
              [(ngModel)]="mytraining.location" required />
          </div>
          <div>
            <label for="duration" class="label">Duration (min:4 - max:60)</label>
            <input type="number" id="duration" name="duration" class="attribute border" (change)="setLimit()" min="4"
              max="40" name="start_date" #duration="ngModel" [(ngModel)]="mytraining.duration" required min="4"
              max="60" />
          </div>
          <div>
            <div>
              <label for="time" class="label">Time</label>
              <input type="time" id="time" name="time" class="attribute" name="start_date" #price="ngModel"
                [(ngModel)]="mytraining.time" required />
            </div>
            <div>

            </div>


          </div>
          <div class="col-span-2">
            <label for="title" class="label">Title</label>
            <input type="text" id="title" name="title" class="attribute" name="title" #price="ngModel"
              [(ngModel)]="mytraining.title" required />
          </div>
          <div *ngIf="mytraining.type == options[1]; else internalBlock">
            <label for="subject" class="label">Subject</label>
            <input type="text" id="subject" name="subject" class="attribute" name="subject" #price="ngModel"
              [(ngModel)]="mytraining.subject" required />
          </div>
          <ng-template #internalBlock>
            <div class="relative">
              <label for="type" class="label">Subject</label>
              <select
                class="block appearance-none w-full h-11 bg-white border border-gray-300 hover:border-gray-400  rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                name="subject_2" #price="ngModel" [(ngModel)]="mytraining.subject">
                <option value="internal" *ngFor="let subject of subjects" [value]="subject.title">{{subject.title}}
                </option>
              </select>
              <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                  <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                  <path fill-rule="evenodd"
                    d="M16.293 5.293a1 1 0 00-1.414 0L10 10.586 5.707 6.293a1 1 0 00-1.414 1.414l4.586 4.586a1 1 0 001.414 0l4.586-4.586a1 1 0 000-1.414z"
                    clip-rule="evenodd" />
                </svg>
              </div>
            </div>
          </ng-template>
          <div class="relative">
            <label for="type" class="label">Type</label>
            <select
              class="block appearance-none w-full h-11 bg-white border border-gray-300 hover:border-gray-400  rounded shadow leading-tight focus:outline-none focus:shadow-outline"
              name="type" #price="ngModel" [(ngModel)]="mytraining.type">
              <option *ngFor="let option of options" [value]="option">{{option}}</option>


            </select>
            <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
              <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                <path fill-rule="evenodd"
                  d="M16.293 5.293a1 1 0 00-1.414 0L10 10.586 5.707 6.293a1 1 0 00-1.414 1.414l4.586 4.586a1 1 0 001.414 0l4.586-4.586a1 1 0 000-1.414z"
                  clip-rule="evenodd" />
              </svg>
            </div>
          </div>
          <div class="col-span-2">
            <label for="description" class="label">Description</label>
            <textarea id="description" name="description" rows="8" class="attribute" name="description" #price="ngModel"
              [(ngModel)]="mytraining.description" required></textarea>
          </div>
        </div>
        <div class="flex justify-center">
          <button
            class="px-4 py-2 bg-blue-500 text-white rounded-md mr-4 w-full hover:bg-blue-600 disabled:bg-slate-300"
            [disabled]="f.invalid || errors[0]" (click)="add()">
           <span *ngIf="!update_or_add" >Add</span> 
           <span *ngIf="update_or_add" >Update</span> 
          </button>
          <button class="px-4 py-2 bg-gray-500 text-white rounded-md w-full hover:bg-gray-600" (click)="moreDetails()">
            <span *ngIf="details">
              << </span>Details
                <span *ngIf="!details"> >> </span>
          </button>
        </div>
      </div>
      <div class="bg-white p-6 rounded-md shadow-md w-1/2" *ngIf="details">
        <!-- Image input -->
        <div class="mb-4">
          <label for="image" class="block text-gray-700 font-bold mb-2">Image:</label>
          <div class="h-[320px] bg-center bg-cover flex items-center justify-center relative"
            [style.background-image]="'url(' + path + ')'">
            <input type="file" class="absolute inset-0 w-full h-full opacity-0 cursor-pointer" accept="image/*"
              id="image" (change)="onImageSelected($event)" #image />
            <div id="preview" class="h-full w-full bg-center bg-cover"></div>
          </div>
        </div>

        <!-- Trainer input -->
        <div class="mb-4">
          <label for="trainer" class="block text-gray-700 font-bold mb-2">Trainer:</label>
          <div class="flex">
            <input type="text" class="px-4 border border-gray-300 rounded-l-md w-full" placeholder="Trainer name" disabled [value]="selected_name"/>
            <div class="pt-[6px]">
              <button class="px-4 bg-gray-200 text-gray-700 rounded-r-md hover:bg-gray-300 text-sm h-9"
                (click)="openModal('Trainers')">
                <i class="fa fa-window-restore" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Trainees input -->
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2">Quizzes:</label>
          <div class="relative">
            <select multiple
              class="block appearance-none w-full border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
              size="5">
              <option *ngFor="let q of quizzes">{{q.question}}</option>
            </select>
          </div>
          <div class="flex flex-col items-center">
            <button class="px-4 py-2 bg-gray-500 text-white rounded-full shadow hover:bg-gray-600 focus:outline-none"
              (click)="openModal('Quizes')">
              <span class="text-sm font-bold"><i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </button>
          </div>
        </div>
        <!-- Quizzes input -->
        <!-- <div class="flex flex-col items-center">
          <h3 class="text-lg font-medium mb-2">Quizzes</h3>
          <div class="w-full max-w-md">
            <ul class="bg-gray-100 divide-y divide-gray-200">
              <li>
                <div class="ml-6">
                  <label class="block text-gray-700 font-bold mb-2">Trainees:</label>
                </div>
              </li>

              <li>
                <div class="ml-6">
                  <label class="block text-gray-700 font-bold mb-2">Trainees:</label>
                </div>
              </li>
            </ul>
          </div>
          <button class="px-4 py-2 bg-gray-500 text-white rounded-full shadow hover:bg-gray-600 focus:outline-none" (click)="openModal('Quizzes')">
            <span class="text-sm font-bold">+</span>
          </button>
        </div>-->
      </div>
    </div>
  </form>
</div>

<div class="fixed top-0 left-0 w-full h-full bg-gray-900 bg-opacity-50" *ngIf="showModal" ></div>
<form #f2="ngForm">
<!-- Modal dialog -->
<div
  class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-11/12 md:w-2/3 lg:w-1/2 bg-white rounded-lg shadow-lg overflow-hidden"
  *ngIf="showModal">
  <!-- Modal header -->
  <div class="bg-gray-100 p-4">
    <h2 class="text-lg font-medium">{{ modalTitle }}</h2>
  </div>

  <!-- Modal body -->
  <div class="grid grid-cols-3 gap-4 h-[512px] overflow-x-auto overflow-y-auto" *ngIf="modalTitle == 'Quizes'">
    <div class="p-4" *ngFor="let q of quizzes">
  
      <h1>Quiz </h1>
      <div>
        <label class="block text-gray-700 font-bold mb-2" for="question">Question</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="question" type="text" placeholder="Enter your question" name="question" #question="ngModel"
          [(ngModel)]="q.question" required/>
          <div  *ngIf="question.invalid "> 
            <label class="block text-red-700 font-bold mb-2" >Question is required</label>

        </div>
      </div>


      <label class="block text-gray-700 font-bold mb-2" for="option1">Option 1</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="option1" type="text" placeholder="Enter option 1" name="answer_1" #answer_1="ngModel"
        [(ngModel)]="q.answer_1" required/>
        <div  *ngIf="answer_1.invalid "> 
          <label class="block text-red-700 font-bold mb-2" >Option 1 is required</label>

      </div>

      <label class="block text-gray-700 font-bold mb-2" for="option2">Option 2</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="option1" type="text" placeholder="Enter option 2" name="answer_2" #answer_2="ngModel"
        [(ngModel)]="q.answer_2" required/>
        <div  *ngIf="answer_2.invalid "> 
          <label class="block text-red-700 font-bold mb-2" >Option 2 is required</label>

      </div>

      <label class="block text-gray-700 font-bold mb-2" for="option3">Option 3</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="option1" type="text" placeholder="Enter option 3" name="answer_3" #answer_3="ngModel"
        [(ngModel)]="q.answer_3" />


      <label class="block text-gray-700 font-bold mb-2" for="option4">Option 4</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="option1" type="text" placeholder="Enter option 4" name="answer_4" #answer_4="ngModel"
        [(ngModel)]="q.answer_4" />

        <label class="block text-gray-700 font-bold mb-2" for="option4">Type</label>
        <select
        class="block appearance-none w-full h-11 bg-white border border-gray-300 hover:border-gray-400  rounded shadow leading-tight focus:outline-none focus:shadow-outline"
        name="type_q" #type_q="ngModel" [(ngModel)]="q.type">
        <option *ngFor="let option of options_q" [value]="option">{{option}}</option>

      </select>
      <div >
        
        <label class="block text-gray-700 font-bold mb-2" for="correctOption">Correct Option (Enter option
          number)</label>
        <div class="grid grid-cols-1 md:grid-cols-2 " [ngSwitch]="q.type">
          <ng-container *ngSwitchCase="'QCM'">
          <div  *ngFor="let x of [1,2,3]" >
            <input
              class=" shadow appearance-none border rounded text-xl py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="correctOption" type="number" placeholder="Enter the number of the correct option" name="valid{{x}}"
              #valid="ngModel" [(ngModel)]="q.valid[x]" [required]="x <= 2" (change)="valid_check(q,x)"/>
              <div  *ngIf="valid.invalid " min="1"> 
                <label class="block text-red-700 font-bold mb-2" >Valid answer is required</label>
      
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'QCU'">
          <div  >
            <input
              class="text-xl shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="correctOption" type="number" placeholder="Enter the number of the correct option" name="valid"
              #valid="ngModel" [(ngModel)]="q.valid[0]" min="1" required/>
              <div  *ngIf="valid.invalid "> 
                <label class="block text-red-700 font-bold mb-2" >Valid answer is required</label>
      
            </div>
          </div>
        </ng-container>
          
        </div>
      </div>
    
    </div>

    <ng-content></ng-content>
  </div>

  <div class="grid grid-cols-3 grid-rows-2 gap-4 overflow-y-auto p-3 " *ngIf="modalTitle == 'Trainers'">
    <ng-container  *ngFor="let p of profiles">
    <div class=" rounded-lg shadow-md p-4 hover:bg-blue-200 cursor-pointer focus:outline-none focus:shadow-outline-blue " [ngClass]="{'bg-blue-200': selected_profile == p.id}">
      <div (click)="selectProfile(p.id)" >
      <img src="assets/images/icon/user_icon.png" alt="Profile Picture" class="rounded-full w-30 h-20 mx-auto mb-4" />
      <h2 class="text-lg font-medium">{{p.knowledge}}</h2>
      <p class="text-gray-600">{{p.experience}} years experience</p>
      <p class="text-gray-600">{{p.skills}}</p>
    </div>
  </div>
</ng-container>
  </div>
  <div class="grid grid-cols-3 gap-4 overflow-y-auto h-[512px] p-3 grid-rows-2"
    *ngIf="modalTitle == 'Most wanted trainings'">
    <div class="bg-gray-50 rounded-lg shadow-md p-4" *ngFor="let k of keys">
      <div class="flex">
        <h2 class="text-lg font-medium">Subject :</h2>
        <h2 class="text-lg font-sans"> {{k}}</h2>
      </div>
      <h2 class="text-lg font-medium py-3">Fited :</h2>
      <ul class="w-full">
        <li *ngFor="let s of suggestions[k]">
          <input type="radio"  value="hosting-small" class="hidden peer" required />
          <label 
            class="inline-flex w-full text-gray-500 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
            <div class="w-full">{{s}}</div>
          </label>
        </li>
  
      </ul>
      <div class="flex justify-center items-center py-3 transition-opacity hover:opacity-100">
        <i class="fa fa-check text-[20px] hidden text-blue-400 cursor-pointer " aria-hidden="true" (click)="selectedSugg(k)"></i>
      </div>

    </div>
  </div>
  <!-- Modal footer -->
  <div class="bg-gray-100 p-4 flex justify-end">
    <div class="flex items-center" *ngIf="modalTitle == 'Quizes'">
      <button
        class="border-2 border-gray-800 px-3 py-2 bg-gray-50 text-gray-800 font-bold rounded-full hover:bg-gray-200"
        (click)="  remove_quiz()">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <div class="w-10 text">
        <input type="number" class="px-2 text-center  text-black  rounded-md cursor-default" disabled
          value="{{ quizzes.length }}" />
      </div>

      <button
        class="border-2 border-gray-800 px-3 py-2 bg-gray-50 text-gray-800 font-bold rounded-full hover:bg-gray-200"
        (click)="  add_quiz()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div class="pl-8">
      <button type="button" class="px-4 py-2 bg-gray-500 text-white rounded-md hover:bg-gray-600 mr-2"
        (click)="closeModal()" *ngIf="modalTitle != 'Quizes'">
        Close
      </button>
      <button type="button" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 disabled:bg-blue-100" (click)="onSave()" [disabled]="f2.invalid">
        Save
      </button>
    </div>
  </div>
</div>
</form>



<div class="fixed inset-0 z-50 flex items-center justify-center bg-gray-500 bg-opacity-50" *ngIf="confirmedModal">
  <div class="relative bg-white rounded-lg shadow">

    <div class="p-6 text-center">
      <svg aria-hidden="true" class="mx-auto mb-4 text-green-500 w-14 h-14" fill="none" stroke="currentColor"
        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
      </svg>
      <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Operation is successfully applied </h3>
      <button data-modal-hide="popup-modal" type="button"
        class="text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2"
        routerLink="/admin/training">
        Return
      </button>
    </div>
  </div>
</div>