<div class="modal modal-product-area" [class]="modalNewProduct ? 'open' : ''">
  <p-dialog header="Product Area" [(visible)]="modalNewProduct" [modal]="true" [style]="{width: '500px'}" [baseZIndex]="10000" [draggable]="false" [resizable]="true" (onHide)="cancel()">
      <div *ngIf="hideForm" [formGroup]="createProductForm" >
          <div class="inscription-form-title-blc">
              </div>
              <div class="inscription-form-title">
              <h1 class="edit-form-title text-hideform">Test added</h1>
              </div>
              <button type="button" (click)="cancel()" class="btn btn-blue"></button>
          </div>
          <div class="form-container">
            <form #p="ngForm"  action="">
                <!-- <form> -->
                  <label for="nameTest">Test</label>
                  <input type="file" (change)="onFileSelected($event)" accept="image/*">
                 
                  <div class="mb-3">
                    <select
                      #inputcategorieId
                   
                      (change)="check($event)"
                      class="form-control show-tick"
                    >
                     
                      <option
                      *ngFor="let competence of competenceList"
                        [value]="competence.idTest"
                      >
                        {{ competence.nameTest }}
                      </option>
                    </select>
                  </div>

                  <input type="submit" value="Submit" (click)="onUpload()">
                <!--.form-area-->
                <!-- </form> -->
                
              
              
            </form>
          </div>
          <!--.inscription-form-area-->
          
                         
               
                 
                 
            
  </p-dialog>
</div>

