
<div class="list-table-header-item-area">
    <div class="introduction-area p-d-flex p-jc-between">
        <h1 class="big-title">
        Sample list
        </h1>

    <div class="list-table-item-area">
        <div class="container" style="width: 60%;">
            <div class="table-area ">
                <div class="comments-table">
                    <div class="card">
                        <canvas id="piechart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  