
<div class="list-table-header-item-area">
    <div class="introduction-area p-d-flex p-jc-between">
        <h1 class="big-title">
        Details of order {{idCommand}}
        </h1>      
    </div>
    <div class="list-table-item-area">
        <div class="container" style="width: 60%;">
            <div class="table-area ">
                <div class="comments-table">
                    <div class="card">
                        <p-table [value]="cmdl" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th id="idC" pSortableColumn="idC">Image</th>
                                    <th id="name_product" pSortableColumn="name_product">Product name</th>                                    
                                    <th id="refrence" pSortableColumn="refrence">Reference</th>                                    
                                    <th id="dateC" pSortableColumn="dateC">Command Date</th> 
                                    <th id="actions" pSortableColumn="actions">Actions</th>                                    
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-cmdl let-columns="columns">
                                <tr>
                                    <td>
                                        <div class="icon"> <i > <img src="http://localhost:8099/biochar/stock-service/images/{{cmdl?.product?.reference}}.png"></i> </div>
                                    </td>
                                    <td><span class="p-column-title">Product name</span>{{cmdl?.product?.name_product}}</td>
                                    <td><span class="p-column-title">Refrence</span>{{cmdl?.product?.reference}}</td>
                                    <td><span class="p-column-title">Command Date</span>{{cmdl?.command?.date}}</td>
                                    <td>
                                        <div class="transparent-button">
                                            <p-button tooltipPosition="left" class="p-panel-header-icon p-link" icon="pi pi-eye " ></p-button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>