<div class="container padding-top-one-hundred">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <div class="card shadow h-100 py-2 card-border">
                <div class="card-content">
                    <div class="card-body">

                        <form  #forgetPassword_Form = "ngForm" >

                        <div class="d-flex flex-row margin-right-ten-px margin-left-ten-px">
                            <div class="d-flex flex-column" style="width: 100%;">
                                <div class="d-flex flex-row margin-top-ten-px margin-bottom-ten-px">
                                    <div class="align-self-center margin-right-ten-px"><i class="fa fa-key fa-2x text-gray-300 primary-light-blue-color" style="font-size: 50px"></i></div>
                                    <h3>Reset Password</h3>
                                </div>
                                <div class="d-flex flex-row margin-left-fifty-px">
                                    <p style="color: rgb(73,80,87);font-size: 18px; font-family: TimesNewRoman;"><span style="font-size: 30px;font-family: TimesNewRoman;">R</span>esetting a password usually requires a user to enter a new password and confirm it. This process ensures that the user has control over their
                                        account and that the new password meets security requirements. Once the new password is confirmed, the user can log in with their updated credentials and continue using their account with peace of mind.<br></p>
                                </div>
                                <div class="d-flex flex-column margin-left-fifty-px">
                                    <div class="d-flex flex-column">
                                        <div class="border-custom" style="padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;margin-bottom: 10px;margin-top: 10px;width: 100%;">
                                            <p style="font: 40px TimesNewRoman;color: rgb(73,80,87);font-size: 24px;">Password</p>
                                            <div class="d-flex flex-row justify-content-around">
                                                <div class="d-flex flex-column margin-left-ten-px margin-right-ten-px" style="width: 100%;">
                                                    <div class="d-flex flex-row row-input justify-content-between">
                                                        <p style="font: 40px TimesNewRoman;color: rgb(73,80,87);font-size: 18px;margin-top: auto;margin-bottom: auto;margin-right: 5px;">New :<br></p>
                                                        <input type="password" class="form-control input-design"
                                                        name="auth-new-password" [(ngModel)]="newPassword" #newpassword="ngModel"  
                                                        pattern="^[a-z0-9@]{8,}$" 
                                                        required 
                                                        (keyup)="validator()">
                                                    </div>
                                                    <div class="d-flex flex-row justify-content-center margin-bottom-ten-px"  
                                                    *ngIf="newpassword.invalid && newpassword.touched" >
                                                     <div  style="color:#DC3545;" *ngIf="newpassword.errors?.['required']"> New Password is required  </div> 
                                                     <div style="color:#DC3545;" *ngIf="newpassword.errors?.['pattern']"> email pattern Key a-z and 0-9 and @ and over 8 characters </div> 
                                                    </div>
                                                   <div class="d-flex flex-row justify-content-center margin-bottom-ten-px"  
                                                    *ngIf="validateSamePassword" >
                                                     <div  style="color:#DC3545;" > New Password and  Verify Password should be the same !  </div> 
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-column margin-left-ten-px margin-right-ten-px" style="width: 100%;">
                                                    <div class="d-flex flex-row row-input justify-content-between">
                                                        <p style="font: 40px TimesNewRoman;color: rgb(73,80,87);font-size: 18px;margin-top: auto;margin-bottom: auto;margin-right: 5px;">Verify :<br></p>
                                                        <input type="password" class="form-control input-design"
                                                        name="auth-verify-password" [(ngModel)]="verifyPassword" #verifypassword="ngModel"  
                                                        pattern="^[a-z0-9@]{8,}$" 
                                                        required 
                                                        (keyup)="validator()"> 
                                                    </div>
                                                    <div class="d-flex flex-row justify-content-center margin-bottom-ten-px"  
                                                    *ngIf="verifypassword.invalid && verifypassword.touched" >
                                                     <div  style="color:#DC3545;" *ngIf="verifypassword.errors?.['required']"> Verify Password is required  </div> 
                                                     <div style="color:#DC3545;" *ngIf="newpassword.errors?.['pattern']"> email pattern Key a-z and 0-9 and @ and over 8 characters </div> 
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row d-flex justify-content-between" style="margin-top: 20px;margin-bottom: 10px;">
                                        <div class="d-flex flex-row padding-left-five-px padding-right-five-px"><i class="fa fa-sign-out icon-return cursor-pointer"></i><span class="span-return">Back</span>
                                        </div>
                                        <button  [disabled]="forgetPassword_Form.invalid || validateSamePassword" 
                                        (click)="send_ForgetPassword()"
                                        class="btn btn-primary btn btn-info" id="arrets-machines-interruptions-departements-button-insert"
                                            type="button" style="font-family: TimesNewRoman;font-size: 20px;">Reset &nbsp;<i class="fa fa-rotate-left"></i></button>
                                        </div>
                                </div>
                            </div>
                        </div>

                    </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-message-box-authentication *ngIf="this.stateMsgBoxAuth" 
[modalConfirmState]="this.stateMsgBoxAuth"
type={{this.authResponse.status}} 
title="Message" message={{this.authResponse.message}}
(ModalCloseEvent)="closeEventstateMsgBoxAuth($event)" ></app-message-box-authentication>  