<div class="container padding-top-one-hundred">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <div class="card shadow h-100 py-2 card-border">
                <div class="card-content">
                    <div class="card-body">
                        <div class="d-flex flex-row margin-right-ten-px margin-left-ten-px">
                            <div class="d-flex flex-column" style="width: 100%;">
                                <div class="d-flex flex-row margin-top-ten-px margin-bottom-ten-px">
                                    <div class="align-self-center margin-right-ten-px"><i class="fa fa-envelope-open-o fa-2x text-gray-300 primary-light-blue-color" style="font-size: 50px"></i></div>
                                    <h3>Mail<br></h3>
                                </div>
                                <div class="d-flex flex-row margin-left-fifty-px">
                                    <p style="color: rgb(73,80,87);font-size: 18px; font-family: TimesNewRoman;"><span style="font-size: 30px;font-family: TimesNewRoman;">I</span>n our system, we have a built-in feature that allows the sending of emails to patients and employees. When sending an email, the user can choose
                                        the recipient(s) and enter a subject for the email. The subject should be brief and give an idea of what the email is about. The user can also enter the text content of the email, which should be informative
                                        and concise. It's important to ensure that the content is well-written and clearly conveys the message to avoid confusion or misunderstandings. Once the email has been composed, the user can click the send
                                        button and the email will be sent to the intended recipients. Our system also allows for tracking the status of sent emails to ensure that they have been successfully delivered to the recipients.<br></p>
                                </div>
                                <div class="d-flex flex-column margin-left-fifty-px">
                                    <div class="d-flex flex-column">
                                        <div class="border-custom" style="padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;margin-bottom: 10px;margin-top: 10px;width: 100%;">
                                            <p style="font: 40px TimesNewRoman;color: rgb(73,80,87);font-size: 24px;">Msg</p>
                                            <div class="d-flex flex-row justify-content-around">
                                                <div class="d-flex flex-column margin-left-ten-px margin-right-ten-px" style="width: 100%;">
                                                    <div class="d-flex flex-row row-input justify-content-between">
                                                        <p style="font: 40px TimesNewRoman;color: rgb(73,80,87);font-size: 18px;margin-top: auto;margin-bottom: auto;margin-right: 5px;">Subject :&nbsp;<br></p>
                                                        <input type="tel" class="form-control input-design"
                                                        name="subject" [(ngModel)]="msg.subject" #subject="ngModel"  
                                                        [class]="(subject.invalid && subject.touched) ? 'is-invalid' : (!subject.touched) ? '' : 'is-valid'"
                                                        required> 
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row justify-content-center margin-bottom-ten-px"  *ngIf="subject.invalid && subject.touched" >
                                                    <div  style="color:#DC3545;" *ngIf="subject.errors?.['required']"> subject is required   
                                                    </div>
                                                  </div> 
                                                <div class="d-flex flex-column margin-left-ten-px margin-right-ten-px" style="width: 100%;"></div>
                                            </div>
                                            <div class="d-flex flex-row justify-content-around">
                                                <div class="d-flex flex-column margin-left-ten-px margin-right-ten-px" style="width: 100%;">
                                                    <div class="d-flex flex-row row-input justify-content-between">
                                                        <p style="font: 40px TimesNewRoman;color: rgb(73,80,87);font-size: 18px;margin-top: auto;margin-bottom: auto;margin-right: 5px;">Text :&nbsp;<br></p>
                                                    </div>
                                                    <div class="d-flex flex-row row-input justify-content-between">
                                                        <textarea name="body"   [(ngModel)]="msg.body" class="form-control input-design" style="min-width: 100%;"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row d-flex justify-content-between" style="margin-top: 20px;margin-bottom: 10px;">
                                        <div class="d-flex flex-row padding-left-five-px padding-right-five-px"><i (click)="onBack ()" class="fa fa-sign-out icon-return cursor-pointer"></i><span class="span-return">Back</span></div><button class="btn btn-primary btn btn-info" id="arrets-machines-interruptions-departements-button-insert"
                                         (click)="onAdd()"   type="button" style="font-family: TimesNewRoman;font-size: 20px;">Add &nbsp;<i class="fa fa-plus"></i></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>