<app-nav-bar-auth></app-nav-bar-auth>
<div class="page-header align-items-start min-vh-100" style="background-image: url('https://ak.picdn.net/shutterstock/videos/31004413/thumb/1.jpg');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary  py-3 ">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Sign in</h4>
                <div class="row mt-3">
                  <div class="col-2 text-center ms-auto">
                    <a class="btn btn-link px-3" href="javascript:;">
                      <i class="fa fa-facebook text-white text-lg"></i>
                    </a>
                  </div>
                  <div class="col-2 text-center px-1">
                    <a class="btn btn-link px-3" href="javascript:;">
                      <i class="fa fa-github text-white text-lg"></i>
                    </a>
                  </div>
                  <div class="col-2 text-center me-auto">
                    <a class="btn btn-link px-3" href="javascript:;">
                      <i class="fa fa-google text-white text-lg"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form #signInFrontForm = "ngForm" role="form" class="text-start">
                <div class="input-group input-group-outline my-3">
                  <label class="form-label">Username</label>
                  <input type="text" class="form-control" id="username2" 
                  name="auth-username" [(ngModel)]="this.authenticationService.Request.username" #username="ngModel"  required>
                </div>
                <div class="d-flex flex-row justify-content-center margin-bottom-ten-px"  
                *ngIf="username.invalid && username.touched" >
                 <div  style="color:#DC3545;" *ngIf="username.errors?.['required']"> Username is required  </div> 
               </div> 
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" class="form-control" id="auth-input-password"
                  name="auth-password" [(ngModel)]="this.authenticationService.Request.password" #password="ngModel"  required>
                </div>
               <div class="d-flex flex-row justify-content-center margin-bottom-ten-px"  
                *ngIf="password.invalid && password.touched" >
                 <div  style="color:#DC3545;" *ngIf="password.errors?.['required']"> Password is required  </div> 
                </div>  
                <div class="text-center">
                  <button  (click)="signIn()" [disabled]="signInFrontForm.invalid" type="button" class="btn bg-gradient-primary w-100 my-4 mb-2">Sign in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>