.input-design {
    margin-left: 5px;
    min-width: 100px;
    max-width: 200px;
  }
  
  td{
    font-size: 18px;font-family: TimesNewRoman;
  }
  .primary-light-blue-color {
    color: #50B5FF;
  }
  
  .style-text-timenewroman {
    font: 20px TimesNewRoman;
  }
  
  .primary-light-blue-color-backgroud {
    background-color: #50B5FF;
  }
  
  .group-input { 
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px; 
    margin-top: 10px; 
    margin-bottom: 10px;
    border-color: #eaedef;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    font-family: TimesNewRoman;
}